* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f4f4f9, #e2e8f0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.container {
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 40px;
  width: 100%;
  max-width: 500px;
}

#h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  opacity: 1;
  transition: opacity 1s ease;
}

button:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 30px;
  opacity: 0;
  transition: opacity 1s ease;
}

#results.visible {
  opacity: 1;
}

.hidden {
  display: none;
}

.speed-info p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.final-result {
  font-size: 22px;
  margin-top: 15px;
  color: #4caf50;
  font-weight: 500;
  /* transition: opacity 1s ease; */
}

.final-result.error {
  color: #f44336;
}

.restart-button {
  background-color: #28a745;
  margin-top: 20px;
}

.restart-button:hover {
  background-color: #218838;
}
